{% extends 'MediaBundle::layout.html.twig' %}

{% block body %}
<main>
    <form>
        <hgroup>
            <h2>Formulaire</h2>
        </hgroup>

        <fieldset>
            <input type="text" placeholder="Commentaire" required>


        </fieldset>

        <button>Go !</button>
    </form>

    <section>
        <h2>Merci!</h2>
        <br>
        <h3>Votre commentaire a été créé avec succès.</h3>
    </section>
</main>
{% endblock %}

    {% block javascript %}
        <script>
            $('button').click(function(e) {
                e.preventDefault();
                $('main').addClass('flip');
            });
        </script>
    {% endblock %}
